@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background: #333;
    padding: 20px;
    text-align: center;

}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #4CAF50;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

footer p:nth-child(2) {
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
    text-transform: none;
}

footer p:nth-child(3) {
    font-size: 12px;
    font-weight: lighter;
    color: #aaa;
    font-style: italic;
}



